<div class="form">
    <div class="content">
        <div id="signup">
            <h1>Sign Up to Play</h1>
            <form #loginForm="ngForm">
                    <!-- text box to type the email -->
                <div class="fields">
                    <input type="email" [(ngModel)]="email" placeholder="Enter Email" required id="email">
                </div>
                    <!-- text box to type the password -->
                <div class="fields">
                    <input type="password" [(ngModel)]="password" placeholder="Enter Password" required id="password" >
                    <p id="error"></p>
                </div>
                    <!-- signup button -->
                <button type="button" [disabled]="!signupForm.form.valid" (click)="signUp()" class="btn btn-2 btn-2g authenticate" id="signup">Log In</button>
            </form>
            <!-- area where errors are shown -->
            <p>Dont have an Account? Sign-up</p>
        </div>
    </div>
</div>